.donater_footer{
        position: relative;
        bottom:0;
        right:0;
        left:0;
        height:60px;
        background: #1b62a5;
        color:white;
        display:grid;
        justify-content: left;
        align-items: center;
        font-size: 1.5vh;
        padding-left: 10px;
        font-family: 'JetBrains Mono', monospace;
    
}

