.admin_datastore_main_container{
   position:relative;
   width:100%;
   overflow: hidden;
    height: 93.89vh;
   /* width:100%;  */

}

.admin_datastore_navbar{
    position:fixed;
    top:0;
    left:0;
    right:0;
    height:70px;
    background-color: #673fac;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    color: white;
    font-size: 15px;
    font-family: 'JetBrains Mono', monospace;
    padding-right:15px;
    padding-left: 10px;

}

/* Profile DropDown */

.css-1poimk-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper{
    width:130px !important;
}




.admin_datastore_container{
    position:relative;
    width:100%;
    /* margin-top: 70px; */
    overflow: hidden;
}


.admin_datastore_grid_container{
    position:relative;
    height:100%;
    /* top:70px; */
    width:100%;
    display: grid;
    grid-template-columns: 65% 35%;
    column-gap: 10px;
    top:90px;
    padding-bottom: 100px;
  
    
}


.admin_datastore_volunteer_data{
    height:600px;
    width:95%;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
    margin-left: 10px;
    overflow:hidden;

}

.admin_datastore_donater_data{
    height:600px;
    width:95%;
    margin-right: 40px;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
    overflow: hidden;

}

.admin_datastore_volunteer_heading{
    position: relative;
    height:35px;
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
    background-color: #cef3bf;
    color:black ;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;

}

.admin_datastore_donater_heading{
    position: relative;
    height:35px;
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
    background-color: #bfdef3;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;

}


.admin_datastore_volunteer_sub_data{
    position: relative;
    width:100%;
    height:93%;
    overflow: scroll;
    overflow-x: hidden;
}




.admin_data_store_donater_sub_data{
    position: relative;
    width:100%;
    height:93%;
    overflow: scroll;
    overflow-x: hidden;
}


/* .admin_data_store_donater_sub{
    position: relative;
    width:100%;
    height:fit-content;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    row-gap: 20px;
    padding-top:10px;
    padding-left: 0px;
    padding-bottom: 10px; 
    overflow:scroll;
} */
.admin_data_store_volunteer_inside_sub{
    position: relative;
    width:97%;
    height:fit-content;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    row-gap: 20px;
    padding-top:10px;
    padding-left: 10px;
    padding-bottom: 10px;

}

.admin_data_store_donater_inside_sub{
    position: relative;
    width:97%;
    height:fit-content;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    row-gap: 20px;
    padding-top:10px;
    padding-left: 10px;
    padding-bottom: 10px;
 
}

/*  Actual DATA  */


.admin_datastore_actual_data{
    width:96%;
    height:fit-content;
    padding:10px;
    border-radius: 5px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: rgba(111, 111, 145, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.admin_donater_datastore_actual_data{
    height:fit-content;
    padding:10px;
    padding-top:20px;
    border-radius: 5px;
    display:grid;
    grid-template-columns: auto 25% 30%;
    grid-template-rows:auto;
    /* grid-auto-rows: auto; */
    column-gap: 10px;
    row-gap: 15px;
    align-items: center;
    box-shadow: rgba(111, 111, 145, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    grid-template-areas:
    "id name number" 
    "address city quantity"
    "button button button";
}




.available{
    background-color: #618833 !important;
    padding-left:27px !important;
    padding-right:27px !important;

}
.unavailable{
    background-color: #b2102f  !important;
}






.admin_datastore_donater_address{
    padding:4px;
    flex-wrap: wrap;
    border-radius: 5px;
    background-color: rgb(248, 231, 247);
    height:100%;
    grid-area:address;

}

.donater_request_id{
    background-color: whitesmoke;
    padding:5px;
    border-radius: 5px;
    height:100%;
    grid-area:id;

}


.donater_name{
    background-color: rgb(235, 252, 251);
    padding:5px;
    border-radius: 5px; 
    height:100%;
    grid-area:name;

}

.donater_mobile_number{
    background-color: rgb(245, 252, 235);
    padding:5px;
    border-radius: 5px; 
    height:100%;
    grid-area:number;

}

.donater_city{
    background-color: rgb(242, 235, 252);
    padding:5px;
    border-radius: 5px;
    height:40%;
    grid-area:city;
}

.donater_meal_quantity{
    position: relative;
    background-color: rgb(252, 240, 235);
    padding:5px;
    border-radius: 5px; 
    height:40%;
    grid-area:quantity;

 
}

.admin_datastore_donation_request_done_button{
    width:100% !important;
    grid-area: button;
    background-color: #673fac !important;
    
}


@media screen and (max-height: 700px) {
    .admin_datastore_volunteer_data{
        height:480px;
    }
    
    .admin_datastore_donater_data{
        height:480px;
    } 


}


@media screen and (max-width: 800px) {
    .admin_datastore_volunteer_sub_data{
        overflow-x: scroll;
    }
    
    
    .admin_data_store_donater_sub_data{
        overflow-x: scroll;
    } 
}


