.navbar_main_container{
    position: sticky;
    top:0;
    width:100%;
    height:fit-content;
    background-color: #1b62a5;
    color: white;
    display: flex;
    align-items: flex-start;
    flex-direction:column;
    font-size: 18px;
    font-family:  monospace;
    overflow: hidden;
    z-index: 999;
}

.navbar_links{
    display:none;
    width:100%;
}
.navbar_links ul{

    margin:0;
    padding:0;
    display:flex;
    flex-direction: column;
    /* background-color: blue; */
    margin-top:0px;
    width:100%;

}

.navbar_links li{
    list-style: none;
    width:100%;
    padding:1rem;
    text-align: center;
    color:#fae6d3;
    font-weight:normal;
    font-size: 20px;



}

.navbar_links li:hover{
    /* background-color: #2d76b9; */
    background-color:#a55e1b;
    color:white;
 
}

.navbar_hamburger_icon{
    position:absolute;
    right:0;
    padding:15px 20px 20px 20px ;
}

.navbar_hamburger_icon:hover{
    background-color:transparent;
}


.navbar_links.active{
    transition: all 0.5s ease;
    display:flex;
}


/* .navbar_text{
    cursor: pointer;
    color:#ebb27e;
    padding:10px;

}
.navbar_text:hover{
    color:white;
} */

.navbar_donate{


    /* padding:1rem; */
}

.navbar_logo{
    position: relative;
    left:25px;
    cursor: pointer;

}

.logo{
    margin-top: 5px;
    margin-left: 5px;
    width:140px;
    height:60px;
}

/* .navbar_text:hover{
    border-radius: 3px;
    background-color:#2d76b9 ;
} */
/* .active{
    background-color:#606f7c ;
    border:1px solid #bda47b;
} */





.donater_modal_title{
    /* background-color: blue; */
}


.donater_modal_grid{
    padding-top: 20px;
    /* width:400px; */
    display: grid;
   grid-template-columns: auto;
   row-gap: 20px;
    

}



.donater_modal_action_container{

    height:90px !important;
    padding-bottom: 20px !important;
}
.donate_modal_checkbox{
    position: absolute;
    bottom:100px;
    left:28px;
    font-size: 12px;
    color: #606f7c;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}


.donater_modal_submit_button{
    position: absolute;
    top:10px;
    height:40px ;
    width:90%;
    right:5%;
    /* background-color:#1b62a5 !important; */
    
}

.join_us_submit_button{
    position: absolute;
    bottom:10px;
    height:40px ;
    width:93%;
    right:3.5%; 
    margin-top: 5px !important;
    margin-bottom:15px !important;
}
/* margin for meal quantity drop down in donate card */
 .css-1869usk-MuiFormControl-root{
    width:100% !important;
    margin:0 !important;
}


/* .join_us_modal_main_container{
    height:800px;
}
.css-1t1j96h-MuiPaper-root-MuiDialog-paper{
    height:800px;
} */

.join_us_grid{
    position: relative;
    display: grid;
    row-gap: 15px;
    grid-template-columns: auto;
    /* overflow: hidden !important; */

}


    .join_us_modal_title{
        background-color: #b9702d;
        color:white;
    }

    .join_us_modal_text{
        display: flex;
        justify-content: center;
        align-items: center;
        padding:20px 20px 0px 20px;
    }


/* 
::-webkit-scrollbar {
    width: 6px !important;
}

 
::-webkit-scrollbar-track {
display: none;
}
 
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: rgb(205, 209, 211); 
    -webkit-box-shadow: inset 0 0 6px rgba(151, 144, 144, 0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(232, 238, 252, 0.4); 
} */






/* 

.bootstrap_navbar_link{
    position: relative;
    left:40px !important;
    border: 1px solid black;
    display: grid !important;
    grid-template-columns:auto auto auto auto  ;
    column-gap: 20px;



}
.navbar_collapse{
    display: flex;
    justify-content: right;
    align-items: center;
}

.bootstrap_nav_links{
    padding:20px ;
}

.bootstrap_nav_links:hover{
    background: whitesmoke;
}

@media screen and (max-width: 1000px) {
    .bootstrap_navbar_link{
        right:0px;
    }
    .navbar_collapse{
        display: flex;
        justify-content: center;
        align-items: center;
    }

} */



@media screen and (min-width:650px){

.navbar_main_container{
    display: flex;
    justify-content:flex-end;
    align-items: center;
    flex-direction:row;

}

.navbar_logo{
    position: absolute;
    left:0;
}

.navbar_hamburger_icon{
    display: none;
}
.navbar_links{
    display:flex;
    width:400px;
    /* background-color: pink; */
    align-items: center;
    justify-content: flex-end;
    padding-top:5px;
    padding-bottom:5px;
}
.navbar_links ul{
    margin:0;
    padding:0;
    display:flex;
    flex-direction: row;
    padding-right: 10px;
    width:initial;


}

.navbar_links li{
    list-style: none;
    width:70%;
    white-space: nowrap;
    text-align: center;
    cursor: pointer;
    margin-left: 10px;
    color:#fae6d3;

}

.navbar_links li:hover{
    background-color: #b9702d;
    border-radius: 4px;
    color:white !important;

}



}
    


